<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {# Le titre sera composé du titre de la page, suivi d'un tiret, suivi du nom du site déclaré dans le fichier config/packages/twig.yaml #}
        <title>{% block title %}{% endblock %} -{{ site_name }}</title>
        {# Inclusions des fichiers CSS généraux du site #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navbar">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item main-button">
                <a class="nav-link" href="{{ path('accueil') }}"><i class="mx-1"></i>Immo Logic !</a>
            </li>
            <li class="nav-item dropdown second-button">
                <a class="nav-link dropdown-toggle" href="#" id="blog-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-building mr-1"></i>Appartement
                </a>
        <div class="dropdown-menu" aria-labelledby="blog-dropdown">
            <a class="dropdown-item" href="{{ path('appartmentRent') }}">A louer</a>

        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('appartmentSell') }}">A vendre</a>
            <li class="nav-item dropdown second-button">
                <a class="nav-link dropdown-toggle" href="#" id="blog-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-home mr-1"></i>Maison
                </a>
        <div class="dropdown-menu" aria-labelledby="blog-dropdown">
            <a class="dropdown-item" href="{{ path('houseRent') }}">A louer</a>

        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('houseSell') }}">A vendre</a>
        </ul>
        <ul class="navbar-nav ml-auto pr-2">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_annonce') }}"><i class="fas fa-newspaper mr-1"></i>Créer une annonce</a>
                </li>
                <li class="nav-item dropdown second-button">
                    <a class="nav-link dropdown-toggle" href="#" id="blog-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-cog mr-1"></i>Compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="blog-dropdown">
                        <a class="dropdown-item" href="#"><i class="far fa-id-card mr-1"></i>Mon profil</a>

                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt mr-1"></i>Se déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}"><i class="fas fa-user-plus mx-1"></i>Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-user mx-1"></i>Se connecter</a>
                </li>
            {% endif %}
        </ul>

        </nav>
    {% block body %}{% endblock %}
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block script %}{% endblock %}
    </body>
</html>
